apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-api-deployment
  labels:
    app: product-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-api
  template:
    metadata:
      labels:
        app: product-api
    spec:
      containers:
        - name: product-api
          image: docker.io/keshribhaskar/product-mircroservice-app-image-new:v1
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8082
              protocol: TCP